loki:
  persistence:
    enabled: true
    size: 5Gi
  config:
    schema_config:
      configs:
        - from: 2024-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h
