apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

labels:
  - pairs:
      app.kubernetes.io/name: behemoth-nodejs-review
      app.kubernetes.io/part-of: behemoth
    includeSelectors: true
