apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: observability
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki:3100/loki/api/v1/push

    scrape_configs:
      - job_name: test-files
        static_configs:
          - targets:
              - localhost
            labels:
              job: test
              __path__: /var/log/containers/*.log
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod

        relabel_configs:
          # Attach namespace
          - action: replace
            source_labels: [__meta_kubernetes_namespace]
            target_label: namespace

          # Attach pod name
          - action: replace
            source_labels: [__meta_kubernetes_pod_name]
            target_label: pod

          # Attach container name
          - action: replace
            source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container

          # Correct log path for k3s / containerd
          - action: replace
            source_labels:
              - __meta_kubernetes_pod_container_name
              - __meta_kubernetes_pod_name
              - __meta_kubernetes_namespace
            separator: /
            target_label: __path__
            replacement: /var/log/containers/*$1*$2*$3*.log
